@use '@/styles/variables/fantasy' as colors;

.cms-wrapper {
  display: grid;
  grid-template-columns: 10em 1fr 10em;
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
    "top top top"
    "nav header aside"
    "nav main aside";
  width: var(--res-width);
  height: calc(100dvh - 4em);
  max-width:100%;
  max-height:100%;
  text-align:left;
}

.cms-top {
  grid-area: top;
  
}

.cms-header {
  grid-area: header;
  
}

.cms-nav {
  grid-area: nav;
  
}

.cms-aside {
  grid-area: aside;
  
}

.cms-layout {
  grid-area: main; 
}