:root {
  --background: #ffffff;
  --foreground: #000;

  --dark: #000;

  --res-width : calc(100vw - 4rem);
  --res-height: calc(100dvh - 3rem);

  --strk : #cdcdcd;

  --trans : .3s ease-in-out all;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #222;
    --foreground: #fff;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  letter-spacing: -0.03em;
}

body {
  display: flex;
  flex-direction:column;
  min-height: 100dvh;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: inline-block;
  max-width:100%;
  vertical-align: middle;
}

li {
  list-style:none;
}

button {
  padding: 0;
  border:none;
  background-color: transparent;
  cursor:pointer;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
  min-inline-size: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

th,
td {
  border: none;
  background: none;
  font-weight: normal;
  text-align: left;
  vertical-align: middle;
}

.blind {
  position: absolute; 
  width: 0; 
  height: 0; 
  overflow: hidden; 
  line-height: 0; 
  text-indent: -9999px; 
  font-size: 0; 
  white-space: nowrap;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

input {
  border:none;
  font-size: inherit;
  font-family: inherit;
}
  

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

