$spacing: (4, 8, 12, 16, 20, 24, 32, 40, 48);
$font-sizes: (14, 18, 20, 24, 28, 32, 36, 48, 60, 72);

@each $space in $spacing {
  .u-mt-#{$space} { margin-top: #{ $space / 16 }rem; }
  .u-mr-#{$space} { margin-right: #{ $space / 16 }rem; }
  .u-mb-#{$space} { margin-bottom: #{ $space / 16 }rem; }
  .u-ml-#{$space} { margin-left: #{ $space / 16 }rem; }

  .u-mx-#{$space} {
    margin-left: #{ $space / 16 }rem;
    margin-right: #{ $space / 16 }rem;
  }

  .u-my-#{$space} {
    margin-top: #{ $space / 16 }rem;
    margin-bottom: #{ $space / 16 }rem;
  }
  .u-p-#{$space} { padding: #{ $space / 16 }rem; }
  .u-pt-#{$space} { padding-top: #{ $space / 16 }rem; }
  .u-pr-#{$space} { padding-right: #{ $space / 16 }rem; }
  .u-pb-#{$space} { padding-bottom: #{ $space / 16 }rem; }
  .u-pl-#{$space} { padding-left: #{ $space / 16 }rem; }

  .u-px-#{$space} {
    padding-left: #{ $space / 16 }rem;
    padding-right: #{ $space / 16 }rem;
  }

  .u-py-#{$space} {
    padding-top: #{ $space / 16 }rem;
    padding-bottom: #{ $space / 16 }rem;
  }

  .u-gap-#{$space} {gap : #{ $space / 16 }rem;}
  .u-gapx-#{$space} {column-gap : #{ $space / 16 }rem;}
  .u-gapy-#{$space} {row-gap : #{ $space / 16 }rem;}
}

@each $size in $font-sizes {
  .u-text-#{$size} {font-size: #{ $size / 16}rem;}
}